* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Consolas, monaco, monospace;
    background-color: var(--primary-color);
    margin-bottom: 50px;
}
:root {
    --primary-color: #101820;
    --secondary-color: #f2aa4c;
}
header {
    padding: 25px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
header img {
    width: 10%;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    padding-left: 2px;
    width: 25%;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
   
}

header nav ul li a {
    margin: 1px 0;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
    border-radius: 15px;
}

.hero {
    display: flex;
    background-image: url("../images/hero2.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: flex-end;

}
.hero-sub {
    padding-bottom: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-style: italic;
}
#container {
    display: flex;
    flex-direction: column
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section h2 {
    font-weight: bold;
    font-size: 48px;
    text-align: right;
    padding-right: 12px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-right: 3px solid var(--secondary-color);
    width: 20%;
    margin-top: 0px;
    padding-top: 0;
}
#about-me {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 200px;
    
}
.description {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    
    text-align: left;
}
#work {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    align-items: stretch;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 0px;
}
.run-buddy {
    position: relative;
    text-align: right;
}

.run-buddy img {
    width:100%;
    height: 300px;
    border: 3px solid var(--secondary-color);
    margin-bottom: 10px;

}

.coming-soon,
.horiseon {
    position: relative;
    text-align: left;
    margin-right: 20px;
    
}
.coming-soon img {
    width: 136%;
    height: 150px;
    margin-bottom: 10px;
    border: 3px solid var(--secondary-color);
}
.horiseon img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border: 3px solid var(--secondary-color);
    
}

.project-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.type {
    position: absolute;
    bottom: 20px;
    left: 3px;
    background-color: var(--primary-color);
    text-align: left;
}

#contact-me {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    align-items: stretch;
}
.con-inf,
.link {
   display: flex;  
   flex-wrap: wrap;
   align-items: center;
}
.con-inf div {
    margin-left: 100px;
    margin-right: 100px;
}
.con-inf a {
    text-decoration: underline;
    color: var(--secondary-color);
    font-size: 1.0vw;
    
}

#resume {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    align-items: stretch;
}

.link a {
    text-decoration: underline;
    color: var(--secondary-color);
    font-size: 1.0vw;
    margin-left: 100px;
    
}

/*psuedo classes */

header nav ul li a:hover {
    color: white;
    background-color: var(--secondary-color);
}

.run-buddy img:not(:hover) {
    background-color: var(--primary-color);
    opacity: 0.1;

}
   
.horiseon img:not(:hover) {
    background-color: var(--primary-color);
    opacity: 0.1;
}

.coming-soon img:not(:hover) {
    background-color: var(--primary-color);
    opacity: 0.1;
}

.con-inf a:hover {
    color: white;
    background-color: var(--secondary-color);
}

.link a:hover {
    color: white;
    background-color: var(--secondary-color);
}

/* Media Query */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    .hero-sub {
        font-size: 12px;
    }

    section h2 {
        font-size: 24px;
    }
    #about-me {
        justify-content: flex-start;
    }
    .description {
        width: 80%;
        padding-left: 30px;
        
    }

    .description {
        font-size: 12px;
    }
    .run-buddy img {
        width:600px;
        height: 300px;
        border: 3px solid var(--secondary-color);
        margin-bottom: 10px;
    
    }
    .horiseon img,
    .coming-soon img {
        width: 600px;
        height: 150px;
        border: 3px solid var(--secondary-color);
        margin-bottom: 10px;
    }
    .coming-soon,
    .horiseon {
        margin-left: 0px;
    }
}
    
  